<p id="notice"><%= notice %></p>

<p>
  <strong>Make name:</strong>
  <%= @car.make_name %>
</p>

<p>
  <strong>Make country:</strong>
  <%= @car.make_country %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @car.vin %>
</p>

<p>
  <strong>Parts:</strong>
  <%= @car.parts %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
